<html>
<head>
 <meta name="description" content="Join Events And Get Paid" />
 <meta name="keyword" content="event,mastevent,mast event" />
</head>
<link rel="stylesheet" type="text/css" href="/css/mystyle.css">
<h1 id="para2">MAST EVENT</h1>
<div id="menu">
		<ul>
			
			<li><a href="/">Home</a></li>
			<li><a href="/about">About Us</a></li>
			
		</ul>
	</div>
 

<h1 id="para1">Join Events And Get Paid</h1>


<%@events.each do |e|%>
    <div>
      <h2 id="para3"><%=e.event_name%></h2><br/>
       <p id="para4">Starting On: <%=e.event_start_date%><br/></p>
       <p  id="para4">Payment Per Day: <%=e.pay_per_day%><br/></p>
       <p  id="para4">Event location: <%=e.location%><br/></p>
       <p  id="para4">Coordinator Required: <%=e.coordinator_required%><br/></p>
       <p  id="para4">Description: <%=e.description%><br/></p>

      <center><a id="para5" href="/apply/<%=e.id%>" >Join Event</a>
    </div>
    <hr/>
<%end%>
</html>
