    <div>
      <h2 id="para7"><%=@event.event_name%></h2><br/>
       <p id="para8">Starting On: <%=@event.event_start_date%><br/></p>
       <p id="para8">Ending On: <%=@event.event_end_date.strftime("%d %B %Y")%><br/></p>
        <p id="para8">Total Number Of Days: <%=@event.number_of_days%><br/></p>
       <p  id="para8">Payment Per Day: <%=@event.pay_per_day%><br/></p>
       <p  id="para8">Event location: <%=@event.location%><br/></p>
       <p  id="para8">Coordinator Required: <%=@event.coordinator_required%><br/></p>
       <p  id="para8">Description: <%=@event.description%><br/></p>

      <center><a id="para9" href="/apply/<%=@event.id%>" >Join Event</a>
    </div>



