    <div id="desc">
      <h1><strong><%=@event.event_name%></strong></h2>
    </div>
    <h1 style="color:black;font-weight: bold;font-size:18px;font-family:arial">Full Description</h1>
    <hr >
   
    <div id="desc2">
       <p >Starting On: <%=@event.event_start_date%><br/></p>
      
        <p >Total Number Of Days: <%=@event.number_of_days%><br/></p>
       <p  >Payment Per Day: <%=@event.pay_per_day%><br/></p>
       <p  >Event location: <%=@event.location%><br/></p>
       <p  >Coordinator Required: <%=@event.coordinator_required%><br/></p>
       <p  >Description: <%=@event.description%><br/></p>


      <a  class="button" style="text-decoration: none;"href="/apply/<%=@event.id%>" >Join Event</a><br><br><br>
     <hr>
    </div>



