    <div id="desc">
      <h1><strong><%=@event.event_name%></strong></h2>
    </div>
    <h1 style="color:black;font-weight: bold;font-size:18px;font-family:arial">Full Description</h1>
    <hr >
   
    <div id="desc2">
       <p >Starting On: <%=@event.event_start_date.strftime("%d %B %Y")%><br/></p>
      
        <p >Total Number Of Days: <%=@event.number_of_days%><br/></p>
       <p  >Payment Per Day: Rs. <%=@event.pay_per_day%><br/></p>
       <p  >Event location: <%=@event.location%><br/></p>
       <p  >Coordinator Required: <%=@event.coordinator_required%><br/></p>
       <p  >Description: <%=@event.description%><br/></p>


      <a  class="button"
          href="/apply/<%=@event.id%>"
          style="background: #1975FF; padding: 8px 10px 8px; color: white; text-decoration: none;-moz-border-radius: 5px;-webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);text-shadow: 0 -1px 1px rgba(0,0,0,0.25);cursor: pointer; float: left;font-size: 18px;">Join Event</a><br><br><br>
     <hr>
    </div>



