
<%@events.each do |e|%>
    <div>
      <h2 id="para3"><%=e.event_name%></h2><br/>
       <p id="para4">Starting On: <%=e.event_start_date.strftime("%d %B %Y")%><br/></p>
        
       <p  id="para4">Payment Per Day: <%=e.pay_per_day%><br/></p>
       <p  id="para4">Event location: <%=e.location%><br/></p>
       <p  id="para4">Coordinator Required: <%=e.coordinator_required%><br/></p>

      <center><a id="para5" href="/description/<%=e.id%>" >Full Description</a>
    </div>
    <hr/>
<%end%>

