
<%@events.each do |e|%>

  

  <div id="event"  class="clickable">

     <center><STRONG><p  style="font-size:25px"><%=e.event_name%></p></STRONG></center>

      

      <STRONG><p style="font-size:18px"> Starting On::  </STRONG><%=e.event_start_date%></p>
        
       
      
      <strong><p style="font-size:18px" >Payment Per Day:: </strong><%=e.pay_per_day%><br/></p>

       
       
      <strong><p style="font-size:18px" >Event location:: </strong><%=e.location%><br/></p>
       

       
       <strong><p style="font-size:18px" >Coordinator Required:: </strong><%=e.coordinator_required%></p>

      <a   href="/description/<%=e.id%>" ></a>

  </div>
   <hr>


    
<%end%>

