
<html>



    <body>
        <div align="center">
            <h2>Post A Event<h2>
        </div>
        
        <div align="center">
            
            <form method='post' action="/event/save?id=<%=params[:id]%>">

              <p>
                <label> Status :   </label><br/>
                <input  type="radio" name="status" value="true" <%=@event.status == true ? checked="checked" : "" %>/>True<br>
                <input class="long" type="radio" name="status" value="false" <%=@event.status == false ? checked="checked" : "" %>/>False<br>
              </p>
              <p>
                <label> Event Name :   </label>
                <input  type="text" name="eventname" value="<%=@event.event_name%>"/><br>
                </p>  

                <p>
                <label> gender :   </label><br/>
                <input  type="radio" name="gender" value="m" <%=@event.gender == 'm' ? checked="checked" : "" %>/>Male<br>
                <input class="long" type="radio" name="gender" value="f" <%=@event.gender == 'f' ? checked="checked" : "" %>/>Female<br>
              </p>      
                
                <p>
                <label>Date Of Event :</label>
                  <input  type="text" name="date_of_event" value="<%=@event.event_start_date%>"/><br>

                </p>
                
                <p> 
                <label>Coordinators Required:</label>
                    <input  type="text" name="coordinator_required" value="<%=@event.coordinator_required%>"/><br><br>
                </p>

                <p>
                <label>Pay Per Day:</label>

                    <input  type="text" name="pay_per_day" value="<%=@event.pay_per_day%>"/><br>
                </p>

                </p>
                <label>Location:</label><br>
                    <textarea cols="50" rows="4" name="location"><%=@event.location%></textarea><br>
                </p>
                
            </p>
                <label>Description: </label><br>
                    <textarea cols="50" rows="4" name="description" ><%=@event.description%></textarea><br><br>
            </p>

                <input type="submit" value="Save" />
            
        </form>
     </div>

    </body>
</html>