<%= render :partial => "layouts/shared/meHTMLHeader" %>
<%= render :partial => "layouts/shared/meHeader" %>
<div style="margin-left:160px; margin-right:220px;">
  <%= yield %>
</div>
<%= render :partial => "layouts/shared/meFooter" %>
<%= render :partial => "layouts/shared/meHTMLFooter" %>