<%= render :partial => "layouts/shared/meHTMLHeader" %>
<%= render :partial => "layouts/shared/meHeader" %>
<div>
  <%= yield %>
</div>
<%= render :partial => "layouts/shared/meFooter" %>
<%= render :partial => "layouts/shared/meHTMLFooter" %>